/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02-mar-2016, 2:39:19
    Author     : rafa
*/



#order table.table.table-hover thead tr {
    background: #337ab7;
}

#order table.table.table-hover thead tr th {
    color: white;
    padding: 5px;
}

div#footerModalAction {
    float: left;
    line-height: 30px;
    position: absolute;
    right: 95px;
}

.alert.alert-danger.Error {
    position: fixed;
    top: 47px;
    margin: auto;
    text-align: center;
    width: 50%;
    right: 0;
    left: 0;
    z-index: 999999999999999;
    padding: 14px;
    box-shadow: 0 0 9px 1px red;
}
.alert.alert-success.Error {
    position: fixed;
    top: 47px;
    margin: auto;
    text-align: center;
    width: 50%;
    right: 0;
    left: 0;
    z-index: 999999999999999;
    padding: 14px;
    box-shadow: 0 0 9px 1px green;
}
.alert.alert-info.Error {
    position: fixed;
    top: 47px;
    margin: auto;
    text-align: center;
    width: 50%;
    right: 0;
    left: 0;
    z-index: 999999999999999;
    padding: 14px;
    box-shadow: 0 0 9px 1px #020080;
    color: #3a87ad;
    background: #27A7E4 !important;
    border-color: #bce8f1;
    color: white;
}

.active-added {
    background-color: #bdc2c6!important;
    /* border-bottom: 1px dashed black; */
}

.active-added td {
    /* color: chocolate; */
}

.active-added td a {
    /* color: #11BEF2; */
}
.navigation {
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    font-size: 14px;
    height: 31px;
    font-family: -webkit-pictog;
}
#PanelAdminMenu
{

}
#PanelAdminMenu li a
{
    color: white !important;
}
#PanelAdminMenu .navigation_holder{
    height: 28px;
}
#PanelAdminMenu #navigation{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.textoCarrito{
        position: fixed;
    top: 244px;
    color: white;
    font-size: 17px;
    width: 500px;
    right: 0;
    left: 0;
    margin: auto;
    background-color: rgba(0,0,0,0.7);
    padding: 8px;
    box-shadow: 0px 0px 15px 5px black;
    border-radius: 10px;
}